$purple:  #a85cff;
$blue: #0d57df;
$turquoise: #00e4e4;
$dark-blue: #1c0f3d;
$dark: #1a1a1a;
$dark-medium: #212121;
$dark-light: #313641;
$white: #f5f6f9;
$grey: #a2a6af;
$grey-light: #dde4f0;


.hero {
  &-title {
    font-size: 48px;
  }
}